/*=============== Datasets styling ======================*/
#dataset .ui-selecting { background: #FECA40; }
#dataset .ui-selected { background: green; color: white; font-weight: bold}
#dataset { list-style-type: none; margin: 0; padding: 0; width: 270px; }
#dataset li { margin: 3px; padding: 0.4em; font-size: 1.2em; height: 14px; }

/*=============== Common styling ======================*/  
button {
    color: blue;
    font-weight: bold;
}

label {
    color: #222222;
    font-size: 16px;;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
}
/*=============== Map styling ======================*/

#map_canvas {
    height: 100%;
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 280px;
    height: 100%;
}

/*============================== Left panel ==================*/

div#tabs {
    position: absolute;
    top: 150px;
    left: 5px;
    height: 100%;
    width: 270px;
    margin: 0;
    padding: 0;
    text-align:left;
    margin-top: 5px;
    font-size: 16px; 
    color: rgb(0, 0, 0);
}

div#auto-row {
    height:50%;
    width:200px;
    margin: 0;
    padding: 0;
    text-align:left;
    font-size: 13px; 
    color: rgb(0, 0, 0);
}

a {
    color: #be7429;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.popupBox {
    position: relative;
    white-space: nowrap;
    width: 10%;
}

#auto-row .popupBox .popupCell {
    background-color: #fffafa;
}

#auto-row .popupCell:hover {
    background-color: #F9EDBE; /**#f5ebe9;**/
}

#auto-row .popupBox .popupCell .popupItem {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}