
button {
    color: blue;
    font-weight: bold;
}
/*=============== Map styling ======================*/

#map_canvas {
	height: 100%;
	width: 80%;
	overflow: hidden;
	position: absolute;
        top: 5px;
        left: 250px;
	height: 100%;
}

/*============================== Left panel ==================*/

div#tabs {
	position: absolute;
        top: 0px;
        left: 5px;
	height: 100%;
	width: 240px;
	margin: 0;
	padding: 0;
	text-align:left;
	margin-top: 5px;
	font-size: 16px; 
	color: rgb(0, 0, 0);
}

div#auto-row {
	height:50%;
	width:200px;
	margin: 0;
	padding: 0;
	text-align:left;
	font-size: 16px; 
	color: rgb(0, 0, 0);
}

a {
    color: #be7429;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.popupBox {
    position: relative;
    white-space: nowrap;
	width: 10%;
}

#auto-row .popupBox .popupCell {
    background-color: #fffafa;
}

#auto-row .popupCell:hover {
    background-color: #F9EDBE; /**#f5ebe9;**/
}

#auto-row .popupBox .popupCell .popupItem {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}