<!DOCTYPE html>
<html>
<body>
    
<p>
    <b>
        <h5 style="font-family: Verdana,Arial,sans-serif;">Usage Instruction</h5>
    </b>
</p>
<ol style="font-family: Verdana,Arial,sans-serif;color: #222222;font-size: 11px;background-color:rgb(220, 220, 220);">
    <li>CSP publishes dataset with privacy protection </li>
    <li>SC-server selects a dataset to query </li>
    <li>SC-server chooses algorithm parameter settings </li>
    <li>Administrator performs geocast queries on a map-based interface </li>
</ol>

</body>
</html>