#map {
        height: 660px;
        margin: 0px;
        padding: 0px;
        width: 100%;
      }
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

body{
    background: url(../img/rain.jpg);
    -moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}
.container{
	background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}   
#menu{
	margin-top: 10px;
}
ul{
	list-style: none;
    margin-left: -30px;
}

#mapcc{
    background: red;
    height: 100%;
}
.gm-style-mtc{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
}
.current{
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    
}
#mainmenu li{
    font-size: 16px;
}
#mainmenu li:hover{
    background-color: rgba(135, 255, 255, 0.7);
    cursor: pointer;
}
#right{
    padding: 0px;
}
#sidebar{
    padding-right: 0px;
}
div.right-container{
    min-height: 660px;
    width: 100%;
    margin-left: 0px;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
}
.show{
    display: block;
}
.hide{
    display: none;
}
#post{
    top: 100px;
    left: 450px;
    position: absolute;
    width: 500px;
    height: 410px;
    border-radius: 5px;
    background-color: white;
    z-index: 9999999;
     background-color: white;
     padding: 20px;
     display: none;
}
td{
    vertical-align: middle !important;
}
th{
    text-align: center;
}

.center{
    text-align: center;
    
}
.pagination{
    margin: 0px 5px !important;
    margin-left: 5px;
}
#btndel{
    
    margin-left: 5px;
}
.btn-default{
    margin-bottom: 10px;
}
#postfile{
   
}

#message{
    display: block !important;
}
#container_menu{
    position: fixed;
    top: 70px;
    right: 0;
    
}
#logo{
    position: absolute;
    top: 30px;
    right: 0;
}
#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#loginform{
    width: 500px;
    height: 250px;
    margin:200px auto;
    padding: 15px;
     background-color: white;
     border-radius: 10px;
}
#registerform{
    width: 600px;
    
    margin:100px auto;
      background-color: white;
     border-radius: 10px;
     padding: 15px;
}
.error{
    color: red;
}
div.list-group-item:hover{
    background-color: #66A3FD;
    cursor: pointer;
}
#container_profile{
    width: 500px;
    margin:20px auto;
    padding: 15px;
     background-color: white;
     border-radius: 10px;
}
#container_response{
    width: 500px;
    margin:20px auto;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    
}

#leftinfo{
    text-align: center;
}
#rightinfo{
    padding-left: 0px !important;
}
#myForm { display: block;  border-radius: 10px;}
#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px;}
#bar { display:block !important; background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { display:block !important; position:absolute; display:inline-block; top:3px; left:48%; }