 *{
    margin: 0;
    padding: 0;
 }
 html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
        font-size: 13.5px;
      }
      #wrapper{
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
      
      .labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   border: 2px solid black;
   white-space: nowrap;
 }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
       
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
#sidebar{
    width: 170px;
    height: 100%;
    float: left;
    background: #1A74FA ;
}
#info{
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 160px;
        
}
#avatar{
    border: 5px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0, .7);
}

#lbusername{
    background: #A8A8FF;
    padding: 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 2px rgba(0,0,0, .7);
}
#nav ul{
    list-style: none;
    color: black;
    margin-left: 10px;
    
    
}
#nav ul li{
    padding: 5px;
    font-weight: bold;
    color: #e7e5e5;
    display: block;
    text-shadow: 0 2px 2px rgba(0,0,0, .7);
}
#nav ul li:hover{
    background: #7788aa url(http://www.script-tutorials.com/demos/87/images/bg.png) repeat-x 0 -20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0,0,0, .7);
    
}
.hide{
    display: none;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
#login{
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 5px;
}
#login label{
    color: blue;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
#login label:hover{
    color: red;
}
#loginform{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:100px auto;
}
#registerform{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:100px auto;
}
#uplocationform{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:100px auto;
}
#posttask{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:100px auto;
}
#responsetask{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:70px auto;
}
#posttask{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:100px auto;
}
#taskmanager{
    background: white;
    width: 1000px;
    margin: 0px auto;
    height: 100%;
    border-radius: 5px;
    overflow: auto!important;
}
#adminboard{
    background: white;
    overflow: auto;
    height: 100%;
}
.panel-body{
    border-top: none!important;
}
table{
    margin-top: 5px;
}
th{
    text-align: center;
}
.center{
    text-align: center;
}
td{
    vertical-align: middle !important;
}
#loading{
    margin-left: 46%;
    position: fixed;
    top: 130px;
}
.lightbox{
    position: fixed;
    padding: 3px;
    margin-left: 100px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}
.lightbox input{
    margin-top: 0px!important;
}
#boxtop{
    top: 0;
    left: 0;
}
#btnnone,#btnnone1{
    background-image: url(../img/none-button-ic.png);
    background-repeat: no-repeat;
    width: 82px;
    height: 36px;
    border-radius: 5px;
    -webkit-user-select: none;
}
#btnrain,#btnrain1{
    background-image: url(../img/rain-button-ic.png);
    background-repeat: no-repeat;
    width: 82px;
    height: 36px;
    border-radius: 5px;
}
#btnsnow,#btnsnow1{
    background-image: url(../img/snow-button-ic.png);
    background-repeat: no-repeat;
    width: 82px;
    height: 36px;
    border-radius: 5px;
}
#mcTooltip{
    padding: 5px!important;
    background: white!important;
}
.mcTooltipInner{
    background: white!important;
}
#uploader{
    width: 500px;
    height: 500px;
}
#upavatar{
    width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:100px auto;
}
#weatherform{
     width: 500px;
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin:70px auto;
}
.deleted:hover{
    cursor: pointer;
}